.App {
  text-align: center;
}

.friendHold {
  border: 1px solid black;
  margin: 25px auto;
  width: 400px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  padding: 20px;
}

.dBtn {
  font-size: 25px;
  display: flex;
  margin-top: -20px;
  color: red;
  cursor: pointer;
  width: 10px;
}

nav {
  display: flex;
  justify-content: center;
border-bottom: 1px solid black;
box-shadow: 5px 5px 5px gray;
}

nav p {
  margin: 10px 15px 20px 15px;
}

.formContainer {
  height: 800px;
}

.formBtn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  outline: none;
  background: rgb(209, 209, 209);
}

.addForm {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 350px;
  border: 1px solid black;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px gray;
}

input {
  color: white;
  outline: none;
  margin: 8px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  background: rgb(116, 116, 116);
  
  }

  .error {
    margin: 0 auto;
    width: 300px;
    color: white;
    background: rgb(209, 89, 89);
    border-radius: 4px;
    padding: 15px;
  }

  ::placeholder { 
    color: rgb(168, 168, 168);
    opacity: 1;
  }